extends layout.pug

block content
  body
    div.secondary
      div.intro
        h3 Hello World!
        hr
        p
          | I've always wanted a place to keep a personal journal of stories, notes,
          | ideas, coding projects, and a record of adventures. I am thankful for the
          | life I get to live, and I'd like to share it with the world. Enjoy!
      a(href='/kayaking')
        div.tile.kayak
          h1 Expeditions
      a(href='/business')
        div.tile.business
          h1 Business
      a(href='/homestead')
        div.tile.home
          h1 Homestead
      div.outtro
        h3#about About Me
        hr
        p
          | I spent most of my younger years growing up and making memories in Norris, Tennessee.
          | We lived right down the street from the antique mall and East Tennessee's
          | top Bluegrass station, WDVX.
          br
          br
          | As a kid, my parents loved taking us canoeing down the Clinch River which is where I
          | initally fell in love with the river. I had no idea what impact those experiences
          |  would have on my life, but now I've realized that they have led me down a path of adventure
          |  and exploration.
          br
          br
          img.pimageleft(src='public/gymnastics.jpg', alt='')
          | In high schoool I got serious about gymnastics, working up the ranks towards a
          | college scholarship. In 2008 I was a Blue Chip recruit for the US Air Force Academy Men's
          | gymnastics team, and eventually settled as a pommel horse specialist after multiple
          |  shoulder injuries/surgeries. My sophomore year, the Air Force Academy won it's first USAG
          |  National Championship. During that same competition I was also able to set the new
          |  AFA Pommel Horse Record at 14.7!
          br
          br
          img.pimageright(src='public/skook.jpg', style='width:300px;', alt='')
          | Also during my sophomore year at the academy, I fell deeper in love with whitewater
          | kayaking. I had dreams to become a sponsored professional whitewater paddler,
          | and eventually I dropped out of the academy to pursue that dream. As a result, I
          | earned multiple kayaking sponsorships and finished my business management degree
          | with a minor in entrepreneurship at the University of Colorado at Colorado Springs.
          | During school I was coaching at a local gym and started my first company manufacturing
          |  gymnastics equipment. Living the dream.
          br
          br
          img.pimageleft(src='public/kala.jpg', alt='')
          | After my last college final exam I moved straight to Seattle with the love of my life and future
          | wife, Kala. We got engaged during the move on a 100 mile river trip down the Middle
          | Fork of the Salmon River in Idaho. Best decision I've ever made.
          br
          br
          | After moving to Seattle, I realized the job I had accepted was not what I was
          | hoping for. I immediately started to work on a side hustle. It was then, Fall 2013,
          |  when I met my current business partner, Mike Gordon. We started a cannabis tourism
          |   company called Kush Tourism which was the beginning of a long journey which has
          |   lead to our most exciting project, Kush Marketplace.
          br
          br
          | I have many stories about adventures, cannabis, growing up in the south, and life that I look forward to sharing. I hope you enjoy them!
